<a href="/">回首页</a>
<h1>这是搜索页</h1>

<form action="/search" method="get">
    <input type="text" name="k" value="{{.k}}">
    <button type="submit">搜索</button>
</form>

<table>
    <thead>
    <tr>
        <th>封面</th>
        <th>名称</th>
        <th>作者</th>
        <th>分类</th>
        <th>最新章节</th>
    </tr>
    </thead>
    <tbody>
    {{range $i, $item := .results}}
    <tr>
        <td>
            {{if eq $item.Cover ""}}
                空
            {{else}}
                <img src="{{$item.Cover}}" height="50px" alt="">
            {{end}}
        </td>
        <td><a href="/detail?url={{$item.URL}}&source={{$item.Source}}" target="_blank">{{$item.Name}}</a></td>
        <td>{{$item.Author}}</td>
        <td>{{$item.Category}}</td>
        <td>{{$item.NewChapter}}</td>
    </tr>
    {{end}}
    </tbody>
</table>